.bundle
.dockerignore
.env*
.git
.gitattributes
.gitignore
.git
.overcommit.yml
.rspec
.keep
.rubocop.yml
*.log
*.pid
Dockerfile
docker
coverage
docker
docker-compose.yml
docs
log
miniodata
spec
swagger
tmp
vendor
*.md
